@import url(https://fonts.googleapis.com/css?family=Dosis:600,200|Great+Vibes);
*, *:after, *:before {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
* {margin:0;padding:0;border: 0 none;position: relative;}
[class="fa"]:before {font-family: 'fontawesome', sans-serif;}


#ssssss:checked ~ .cinco{
  display: block;
 transform: scale(1);
 transition-delay: .5s; 
 
}

.canvas-container {
    position: relative;
    max-width: 550px;
    min-width: 350px;
    margin: 0 auto;
  }
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  #canvas{
  max-width: 100%;
  height: auto;
  }

   .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 90%;
  }

   .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
html {
  background: #e29494;
  width: %100;
  height: %100;
  font-family: dosis, sans-serif;
  font-weight: 450;
  color: #000;
}

section {
  background:  #b4f5d5;
  width: 88%;
  max-width: 60rem;
  min-width: 600px;
  height: 67rem;
  margin: 4rem auto;
  box-shadow: 0 0 6px rgba(0,0,0,.4);
}
article {
  position: absolute;
  left: 0;
  top: 5rem;
  right: 0;
  bottom: 0;
  padding: 1rem 2rem 0;
  overflow: auto;
  transition: .7s;
  transform: scale(0);
  transform-origin: center right;
  transition-delay: .1s;
}
article:before {
  color: rgba(0,0,0,.2);
  font-size: 4rem;
  font-weight: 100;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}
h2 {
	margin-top:20px;
	margin-bottom:20px;
  font-size: 2.5rem;
  font-weight: 600;
  text-align: center;
  color: rgba(0,0,0,.6);
}
body > h2 {height: auto;}
h2 img {
  width: 120px;
  height: auto;
  background: #f9f9f9;
  border: 5px solid rgba(0,0,0,.7);
  border-radius: 50%;
  padding: 5px;
  display: block;
  margin: 0 auto;
  box-shadow: 0 0 7px rgba(0,0,0,.5);
}
h2 span {
  font-family: Great Vibes;
  font-weight: 400;
  display: block;
  margin-bottom: 1rem;
}
footer ul {
  width: 100%;
  color: #037B49;
}
footer li {
  list-style-type: none;
  float: left;
  width: 20%;
  text-align: center;
  font-size: 3rem;
  font-weight: 100;  
}
footer li::before {
	display: block;
  text-align: center;
  font-size: 3rem;
  font-weight: 100;
}
p, dl, ol {
  line-height: 1.5;
  font-size: 1.3rem;
}
ol li {
	margin: 0 0 .5rem 1rem;
	

}
dt {
  font-size: 1.6rem;
  font-weight: 600;
  text-indent: 1.5rem;
}
nav {
  background: #fff;
  width: 100%;
  height: 5rem;
  box-shadow: 0 0 6px rgba(0,0,0,.4);
}
nav:after {
  content:'';
  width: 20%;
  height: 5rem;
  background: #BEE3D1;
  position: absolute;
  transition: .5s;
}
input {
	margin-bottom:10px;
  font-size: 1.6rem;
  font-weight: 400;
  text-indent: 1.5rem;
}
select {
	font-size: 1.6rem;
  font-weight: 600;
  text-indent: 1.5rem;
	margin-bottom:10px;
	width:180px;
}
label {
  width: 20%;
  float: left;
  color: #000;
  text-align: center;
  cursor: pointer;
  transition: .5s;
  z-index: 2;
  font-size: 1.6rem;
}
#ozet{
  margin-left: 245px;
  font-size: xx-large;
}
.yenilabel {
  width: 50%;
  float: left;
  color: #000;
  text-align: center;
  cursor: pointer;
  transition: .5s;
  z-index: 2;
  font-size: 1.6rem;
}
.yenilabel2 {
  width: 35%;
  float: left;
  color: #000;
  text-align: center;
  cursor: pointer;
  transition: .5s;
  z-index: 2;
  font-size: 1.6rem;
}
#temizle{
  margin-left:45px;
  left:30%;
	margin-bottom:15px;
  font-size: 1.6rem;
  font-weight: 400;
  text-indent: 0.2rem;
  text-align:center;
  width:300px;
  height: 100px;
}
#siparisOnayla{
  margin-left:45px;
  left:30%; 
	margin-bottom:15px;
  font-size: 1.6rem;
  font-weight: 400;
  text-indent: 0.2rem;
  text-align:center;
  width:300px;
  height: 100px;
}
#faturaYazdir{
	
	margin-bottom:10px;
  font-size: 1.6rem;
  font-weight: 400;
  text-indent: 0.1rem;
  width:300px;
  height: 100px;
}
#musteriButon{
	margin-left:150px;
	margin-bottom:15px;
  font-size: 1.6rem;
  font-weight: 400;
  text-indent: 0.2rem;
  text-align:center;
  width:250px;
}
#temizleButon{
	
    margin-left: 150px;
    margin-bottom: 15px;
    font-size: 1.6rem;
    font-weight: 400;
    text-indent: 0.2rem;
    text-align: center;
    width: 250px;
	
	
}
#irsaliye{
  left: 18%;
	margin-left:0px;
	margin-bottom:15px;
  font-size: 1.2rem;
  font-weight: 400;
  text-indent: 0.2rem;
  text-align:center;
  width:300px;
  height: 100px;
}
#siparisSecimForm{
	margin-top:70px;
  font-size: 1.6rem;
  font-weight: 200;
  width:300px;
  height: 100px;
  text-indent: 0.2rem;
	
}
#siparisGetir{
	margin-bottom:10px;
  font-size: 1.6rem;
  font-weight: 400;
  text-indent: 0.1rem;
  width:300px;
  height: 100px;
	
}
#komisyongetir{
  margin-bottom:150px;
  left: 33%;
  font-size: 1.6rem;
  font-weight: 400;
  text-indent: 0.1rem;
  width:300px;
  height: 65px;
	
}
#urunSecimForm{
	margin-bottom:10px;
  font-size: 1.6rem;
  font-weight: 200;
  width:300px;
  height: 100px;
  text-indent: 0.2rem;
}
#musteriSecimForm{
	margin-bottom:10px;
  font-size: 1.6rem;
  font-weight: 200;
  text-indent: 0.2rem;
  width:300px;
  height: 100px;
}
label:hover {color: #1E6743;}
label:before {
  display: block;
  font-size: 3rem;
  line-height: 5rem;
  z-index: 2;
}
#profile:checked ~ nav [for='profile'],
#settings:checked ~ nav [for='settings'],
#posts:checked ~ nav [for='posts'],
#books:checked ~ nav [for='books'] {
  color: #1E6743;
  font-weight: 600;
}
#settings:checked ~ nav [for='settings'] {}
#profile:checked ~ nav [for='profile'] {}

#profile:checked ~ nav:after {
  left: 0;
}
#settings:checked ~ nav:after {
  left:20%;
  border-top: 0 none;
}
#posts:checked ~ nav:after {
  left: 40%;
}
#books:checked ~ nav:after {
  left: 60%;
}
#ssssss:checked ~ nav:after {
  left: 80%;
}

#profile:checked ~ .uno,
#settings:checked ~ .dos,
#posts:checked ~ .tres,
#books:checked ~ .cuatro {
  display: block;
  transform: scale(1);
  transition-delay: .5s; 
}
a {color: rgba(0,0,0,.4)}
a:hover {color: rgba(0,0,0,.2)}

.modal2 {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 300px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content2 {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close2 {
  color: #aaaaaa;
  float: right;
  font-size: 40px;
  font-weight: bold;
}

.close2:hover,
.close2:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

table {
  width:100%;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 15px;
  text-align: left;
}